footer{
  min-height: 630px;
  background: url("../images/footer/map_bg.jpg") center (center / cover) no-repeat;
}

.footer_block{
  margin: 0 auto;
  text-align: center;
  width: 460px;
  height: 270px;
  background: #C70101;
  a{
    display: block;
    margin-top: 36px;
    font-family: MuseoModerno;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.footer_address{
  padding-top: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer_network{
  padding-top: 36px;
  margin: 0 auto;
  width: 212px;
  display: flex;
  justify-content: space-around;
}

.footer_items{
  border: 2px solid #FFFFFF;
  border-radius: 100%;
  padding: 14px;
  a{
    margin: 0;
  }
}

.footer_items:hover{
  background: blue;
  transition: background-color 0.5s;
}




