.form{
  min-height: 680px;
  background: url("../images/section_form/bg.jpg") center (center / cover) no-repeat;
}

.form_promo{
  padding-top: 103px;
  width: 799px;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.form_sub-promo{
  margin-top: 8px;
  width: 361px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}